.idea/
composer.lock

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/var/
/vendor/
/public/bundles/
###< symfony/framework-bundle ###


###> symfony/phpunit-bridge ###
.phpunit
###< symfony/phpunit-bridge ###

package-lock.json
symfony.lock
.php_cs.cache
