{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 ml-md-auto">
                <div class="card bg-light mb-3 mt-5" style="width: 800px">
                    <div class="card-body">
                        <div class="card-header mb-3">{{ 'application.button.delete'|trans }}</div>
                        <a href="{{ path('task_index') }}"><button type="button" class="btn btn-outline-primary">Home Page</button></a>
                        <a href="{{ path('task_edit', {'id': task.id}) }}"><button type="button" class="btn btn-outline-warning">Edit</button></a>
                        {{ include('task/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
